<div class="content">
    <h2>Quản lý tin tức và sự kiện</h2>
    <div class="controls">
        <button (click)="show(null)" class="btn btn-primary">Thêm mới</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tiêu đề</th>
                <th>Nội dung chi tiết</th>
                <th>Hình ảnh</th>
                <th>Bảng giá</th>
                <th>Trạng thái</th>
                <th>Ngày đăng</th>

                <th style="width: 50px;">Điều chỉnh</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of const_data; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ item.title }}</td>
                <td [innerHTML]="item.content"></td>
                <td>
                    <p-image [src]="urlAPI + '/' + item.image" alt="Image" width="250" [preview]="true" />
                </td>
                <td>
                    <a [href]="urlAPI + '/' + item.pdfurl" target="_blank" rel="noopener noreferrer">Xem PDF</a>
                </td>
                <td>{{ item.status ? 'Đang hiển thị' : 'Ẩn' }}</td>
                <td>{{ item.postdate }}</td>
                <td>
                    <button (click)="show(item)" class="btn-edit">
                        <i class="fa-solid fa-edit"></i>
                    </button>
                    <button (click)="deleteItem(item)" class="btn-delete">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="flex-auto">
        <p-paginator *ngIf="totalRecords" [rows]="rows" [totalRecords]="totalRecords" [first]="first"
            [showFirstLastIcon]="false" (onPageChange)="onPageChange($event)"></p-paginator>
    </div>
</div>