<div class="layout-topbar" (click)="closeLogoutMenu($event)"> 
    <div class="flex-content">
      <p-image 
        [src]="'assets/images/logos/logopage.png'" 
        alt="Image" 
        width="48px" 
        (click)="toggleLogoutMenu(); $event.stopPropagation()"/> <!-- Ngăn chặn sự kiện click lan truyền -->
      <h4>Xin chào, admin</h4>
      <!-- Menu đăng xuất -->
      <div *ngIf="showLogoutMenu" class="logout-menu">
        <p (click)="logout()" class="logout-option">Đăng xuất</p>
      </div>
    </div> 
  </div>
  