<div class="register-page">
  <div class="register-container">
    <img src="assets/images/logos/logopage.png" alt="Logo" />
    <h2 style="text-align: center;">CÔNG TY CỔ PHẦN DỊCH VỤ VÀ VẬN TẢI BIỂN VŨNG TÀU</h2>
    <p class="sub-title" style="color: red; text-align: center;">XÍ NGHIỆP HOA TIÊU VŨNG TÀU</p>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Tên đăng nhập</label>
        <input type="text" id="username" formControlName="username" placeholder="Tài khoản" />
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
          <small class="error-text" style="color: red;">Tên đăng nhập là bắt buộc</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu</label>
        <div class="password-container">
          <input type="password" id="password" formControlName="password" placeholder="Mật khẩu" (input)="checkPasswordStrength()" />
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
          </span>
        </div>
        <!-- Thông báo độ mạnh của mật khẩu -->
        <div class="password-strength" *ngIf="passwordStrengthMessage">
          <div [ngClass]="passwordStrengthClass">{{ passwordStrengthMessage }}</div>
        </div>
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          <small class="error-text" style="color: red;">Mật khẩu phải có ít nhất 8 ký tự</small>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Xác nhận mật khẩu</label>
        <div class="password-container">
          <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Xác nhận mật khẩu" />
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
          </span>
        </div>
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
          <small class="error-text" style="color: red;">Xác nhận mật khẩu là bắt buộc</small>
        </div>
        <div *ngIf="registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched">
          <small class="error-text" style="color: red;">Mật khẩu và xác nhận mật khẩu không khớp</small>
        </div>
      </div>

      <div class="remember-forgot">
        <div class="forgot">
          <p>Bạn đã có tài khoản <a routerLink="/auth/login">Đăng nhập</a></p>
        </div>
      </div>
      <button type="submit" class="register-btn" [disabled]="registerForm.invalid">Đăng ký</button>
    </form>
  </div>
</div>
