<div class="content">
  <h2>Quản lý danh sách các dịch vụ</h2>
  <div class="controls">
    <button (click)="show(null)" class="btn btn-primary">Thêm mới</button>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên dịch vụ</th>
        <th>Hình ảnh</th>
        <th>Nội dung</th>
        <th>Trạng thái</th>
        <th style="width: 50px;">Điều chỉnh</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of const_data; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ list.title }}</td>
        <td>
          <p-image
            [src]="urlAPI + '/' + list.image"
            alt="Image"
            width="250"
            [preview]="true"
          />
        </td>
        <td [innerHTML]="list.content"></td>
        <td>{{ list.status ? "Hiển thị" : "Ẩn" }}</td>
        <td>
          <button (click)="show(list)" class="btn-edit">
            <i class="fa-solid fa-edit"></i>
          </button>
          <button (click)="deleteItem(list)" class="btn-delete">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <div class="flex-auto">
    <p-paginator
    *ngIf="totalRecords"     
      [rows]="rows"
      [totalRecords]="totalRecords"
      [first]="first"
      [showFirstLastIcon]="false"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  </div>
</div>
