<div class="content">
  <div class="add-dashboard-container">
      <h2>Quản lý lịch thủy triều</h2>
      <div class="controls">
          <button class="btn btn-primary" (click)="onAdd()">
              <a [routerLink]="['/tide/add']" class="link-button">Thêm mới</a>
          </button>
      </div>
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>STT</th>
                      <th>Lịch thủy triều</th>
                      <th>Ngày cập nhật</th>
                      <th>Trạng thái</th>
                      <th>Điều chỉnh</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let month of const_data; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>
                        <a [href]="urlAPI + '/' + month.pdfuri" target="_blank">Xem PDF</a>
                        <!-- <a href="assets/monnuoc/Bang-thuy-trieu-tham-khao-thang-10.pdf" target="_blank">Xem PDF</a> -->
                      </td>
                      <td>{{ month.postdate }}</td>
                      <td>{{ month.status ? "Hiển thị" : "Ẩn" }}</td>
                      <td>
                          <button (click)="editItem(month)" class="btn btn-edit">
                              <i class="fa-solid fa-edit"></i>Chỉnh sửa
                          </button>
                          <button (click)="deleteItem(month)" class="btn btn-delete">
                              <i class="fa-solid fa-trash"></i>Xóa
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
