<div class="content">
  <div class="add-container">
    <h2 *ngIf="!isEditMode">Thêm Mới</h2>
    <h2 *ngIf="isEditMode">Chỉnh Sửa</h2>
    <form [formGroup]="form">
      <div class="form-group">
        <label
          for="name"
          [ngClass]="{
            'color-form-red':
              form.get('name')?.invalid &&
              (form.get('name')?.dirty || form.get('name')?.touched)
          }"
          >Tên phương tiện:</label
        >
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          required
        />
        <small
          *ngIf="
            form.get('name')?.invalid &&
            (form.get('name')?.dirty || form.get('name')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('name')?.invalid }"
        >
          Vui lòng nhập tên phương tiện
        </small>
      </div>
      <div class="form-group">
        <label
          for="file"
          [ngClass]="{
            'color-form-red':
              form.get('image')?.invalid &&
              (form.get('image')?.dirty || form.get('image')?.touched)
          }"
          >Hình ảnh:</label
        >
        <input
          type="file"
          id="image"
          (change)="onFileSelected($event)"
          accept="image/*"
          class="form-control"
          formControlName="image"
        />
        <small
          *ngIf="
            form.get('image')?.invalid &&
            (form.get('image')?.dirty || form.get('image')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('image')?.invalid }"
        >
          Vui lòng tải hình ảnh.
        </small>
      </div>
      <!-- Preview Hình Ảnh -->
      <div *ngIf="preview_upload">
        <img [src]="preview_upload" alt="Selected Image" width="300" />
      </div>

      <div *ngIf="isEditMode" class="form-group">
        <label
          for="status"
          [ngClass]="{
            'color-form-red':
              form.get('status')?.invalid &&
              (form.get('status')?.dirty || form.get('status')?.touched)
          }"
          >Trạng thái</label
        >
        <select
          id="status"
          formControlName="status"
          class="form-control"
          required
        >
          <option [ngValue]="true">Hiển thị</option>
          <option [ngValue]="false">Ẩn</option>
        </select>
        <small
          *ngIf="
            form.get('status')?.invalid &&
            (form.get('status')?.dirty || form.get('status')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('status')?.invalid }"
          >Vui lòng chọn trạng thái.</small
        >
      </div>

      <div class="bt-actions">
        <button pButton pRipple [label]="isEditMode ? 'Cập nhật' : 'Thêm mới'" (click)="onSubmit(form.value)"
          class="p-button-success">
        </button>
      </div>
    </form>
  </div>
</div>
