<div class="content1">
    <h1 *ngIf="!isEditMode">Thêm mới phương tiện</h1>
    <h1 *ngIf="isEditMode">Chỉnh sửa phương tiện</h1>
</div>
<div class="content">
    <button type="button" (click)="goBack()" class="btn-back">
        <span class="icon">&lt;</span> Trở lại
    </button>
    <form [formGroup]="vehicleForm">
        <div>
            <label for="type">Loại phương tiện:</label>
            <select id="type" formControlName="type" required>
                <option value="Xe">Xe</option>
                <option value="Cano">Cano</option>
            </select>
        </div>
        <div>
            <label for="image">Hình ảnh:</label>
            <input type="file" id="image" (change)="onFileSelected($event)" accept="image/*">
        </div>
        <div>
            <label for="name">Tên phương tiện:</label>
            <input type="text" id="name" formControlName="name" required>
        </div>
        <div>
            <label for="code">Số hiệu:</label>
            <input type="text" id="code" formControlName="code" required>
        </div>
        <button type="submit"  (ngSubmit)="onSubmit()">{{ isEditMode ? 'Cập nhật' : 'Lưu' }}</button>
    </form>
</div>
