<div class="content">
    <h2 style="text-transform: uppercase;">Quản lý Giờ Điều Động & Mớn Nước</h2>
    <div class="controls">
        <button (click)="show(null)" class="btn btn-primary">Thêm mới</button>
    </div>
    <!-- Bảng dữ liệu -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>NỘI DUNG</th>
                <th>Ngày đăng</th>
                <th>Trạng thái</th>
                <th style="width: 50px;">Điều chỉnh</th>

            </tr>
        </thead>
        <tbody>
            <!-- Dùng *ngFor để lặp qua danh sách tài liệu -->
            <tr *ngFor="let item of const_data; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                    <a [href]="stringUrl + item.pdfurl" target="_blank" rel="noopener noreferrer">Xem PDF</a>
                </td>
                <td>{{ item.postdate }}</td>



                <td>{{ item.status ? "Hiển thị" : "Ẩn" }}</td>
                <td style="width: 50px;">
                    <button (click)="show(item)" class="btn-edit">
                        <i class="fa-solid fa-edit"></i>
                    </button>

                    <button (click)="deleteItem(item)" class="btn-delete">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>