<div class="content">
  <div class="add-container">
    <h2 *ngIf="!isEditMode">Thêm Mới</h2>
    <h2 *ngIf="isEditMode">Chỉnh Sửa</h2>
    <form [formGroup]="form">
      <div class="form-group">
        <label
          for="file"
          [ngClass]="{
            'color-form-red':
              form.get('dataurl')?.invalid &&
              (form.get('dataurl')?.dirty || form.get('dataurl')?.touched)
          }"
          >Tải lên dữ liệu:</label
        >
        <input
          type="file"
          id="dataurl"
          accept=".pdf"
          (change)="onFileSelected($event)"
          class="form-control"
          formControlName="dataurl"
          required
        />
        <small
          *ngIf="
            form.get('dataurl')?.invalid &&
            (form.get('dataurl')?.dirty || form.get('dataurl')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('dataurl')?.invalid }"
        >
          Vui lòng tải dữ liệu.
        </small>
      </div>

      <div class="form-group">
        <label
          for="postdate"
          [ngClass]="{
            'color-form-red':
              form.get('postdate')?.invalid &&
              (form.get('postdate')?.dirty || form.get('postdate')?.touched)
          }"
          >Ngày đăng:</label
        >
        <input type="date" id="postdate" class="form-control" formControlName="postdate" />
        <small
          *ngIf="
            form.get('postdate')?.invalid &&
            (form.get('postdate')?.dirty || form.get('postdate')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('postdate')?.invalid }"
          >Vui lòng chọn ngày đăng.</small
        >
      </div>

      <div *ngIf="isEditMode" class="form-group">
        <label
          for="status"
          [ngClass]="{
            'color-form-red':
              form.get('status')?.invalid &&
              (form.get('status')?.dirty || form.get('status')?.touched)
          }"
          >Trạng thái</label
        >
        <select
          id="status"
          formControlName="status"
          class="form-control"
          required
        >
          <option [ngValue]="true">Hiển thị</option>
          <option [ngValue]="false">Ẩn</option>
        </select>
        <small
          *ngIf="
            form.get('status')?.invalid &&
            (form.get('status')?.dirty || form.get('status')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('status')?.invalid }"
          >Vui lòng chọn trạng thái.</small
        >
      </div>

      <div class="form-actions">
        <p-button
          (click)="onSubmit(form.value)"
          [label]="isEditMode ? 'Cập nhật' : 'Thêm mới'"
          class="btn btn-success"
        />
        <button type="button" class="btn btn-secondary" (click)="goBack()">
          Trở Lại
        </button>
      </div>
    </form>
  </div>
</div>
