.add-monnuoc-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
    .color-form-red {
        color: red; /* Màu đỏ khi có lỗi */
      }
      
      /* Điều chỉnh đường viền khi có lỗi */
      ::ng-deep .border-form-red {
        border: 1px solid red; /* Viền màu đỏ khi có lỗi */
      }

    .form-actions {
        display: flex;
        justify-content: space-between;

        .btn {
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &.btn-success {
                background-color: #0196da;
                color: white;
            }

            &.btn-secondary {
                background-color: #6c757d;
                color: white;
            }
        }
    }
}
