<div class="content">
  <div class="add-dashboard-container">
    <h2 *ngIf="!isEditMode">Thêm Mới</h2>
    <h2 *ngIf="isEditMode">Chỉnh Sửa</h2>
    <form [formGroup]="form">
      <div class="form-group">
        <label
          for="file"
          [ngClass]="{
            'color-form-red':
              form.get('image')?.invalid &&
              (form.get('image')?.dirty || form.get('image')?.touched)
          }"
          >Tải lên hình ảnh:</label
        >
        <input
          type="file"
          id="image"
          (change)="onFileSelected($event)"
          accept="image/*"
          required
          class="form-control"
          formControlName="image"
        />
        <small
          *ngIf="
            form.get('image')?.invalid &&
            (form.get('image')?.dirty || form.get('image')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('image')?.invalid }"
        >
          Vui lòng tải hình ảnh.
        </small>
      </div>

      <!-- Preview Hình Ảnh -->
      <div *ngIf="preview_upload">
        <img [src]="preview_upload" alt="Selected Image" width="300" />
      </div>
      <div *ngIf="isEditMode" class="form-group">
        <label
          for="status"
          [ngClass]="{
            'color-form-red':
              form.get('status')?.invalid &&
              (form.get('status')?.dirty || form.get('status')?.touched)
          }"
          >Trạng thái</label
        >
        <select
          id="status"
          formControlName="status"
          class="form-control"
          required
        >
          <option [ngValue]="true">Hiển thị</option>
          <option [ngValue]="false">Ẩn</option>
        </select>
        <small
          *ngIf="
            form.get('status')?.invalid &&
            (form.get('status')?.dirty || form.get('status')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('status')?.invalid }"
          >Vui lòng chọn trạng thái.</small
        >
      </div>
      <div class="form-actions">
        <p-button
          (click)="onSubmit(form.value)"
          [label]="isEditMode ? 'Cập nhật' : 'Thêm mới'"
          class="btn btn-success"
        />
        <button type="button" class="btn btn-secondary" (click)="goBack()">
          Trở Lại
        </button>
      </div>
    </form>
  </div>
</div>
