<div class="content">
  <div class="add-container">
    <h2 *ngIf="!isEditMode">Thêm Mới</h2>
    <h2 *ngIf="isEditMode">Chỉnh Sửa</h2>
    <form [formGroup]="form">
      <div class="form-group">
        <label
          for="file"
          [ngClass]="{
            'color-form-red':
              form.get('pdfuri')?.invalid &&
              (form.get('pdfuri')?.dirty || form.get('pdfuri')?.touched)
          }"
          >Tải lên dữ liệu:</label
        >
        <input
          type="file"
          id="pdfuri"
          accept=".pdf"
          (change)="onFileSelected($event)"
          class="form-control"
          formControlName="pdfuri"
          required
        />
        <small
          *ngIf="
            form.get('pdfuri')?.invalid &&
            (form.get('pdfuri')?.dirty || form.get('pdfuri')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('pdfuri')?.invalid }"
        >
          Vui lòng tải dữ liệu.
        </small>
      </div>

      <div class="form-group">
        <label
          for="postdate"
          [ngClass]="{
            'color-form-red':
              form.get('postdate')?.invalid &&
              (form.get('postdate')?.dirty || form.get('postdate')?.touched)
          }"
          >Ngày đăng:</label
        >
        <input type="date" id="postdate" class="form-control" formControlName="postdate" />
        <small
          *ngIf="
            form.get('postdate')?.invalid &&
            (form.get('postdate')?.dirty || form.get('postdate')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('postdate')?.invalid }"
          >Vui lòng chọn trạng thái.</small
        >
      </div>

      <div *ngIf="isEditMode" class="form-group">
        <label
          for="status"
          [ngClass]="{
            'color-form-red':
              form.get('status')?.invalid &&
              (form.get('status')?.dirty || form.get('status')?.touched)
          }"
          >Trạng thái</label
        >
        <select
          id="status"
          formControlName="status"
          class="form-control"
          required
        >
          <option [ngValue]="true">Hiển thị</option>
          <option [ngValue]="false">Ẩn</option>
        </select>
        <small
          *ngIf="
            form.get('status')?.invalid &&
            (form.get('status')?.dirty || form.get('status')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('status')?.invalid }"
          >Vui lòng chọn trạng thái.</small
        >
      </div>

      <div class="bt-actions">
        <button pButton pRipple label="Trở Lại" class="p-button-secondary" (click)="goBack()">
        </button>
        <button pButton pRipple [label]="isEditMode ? 'Cập nhật' : 'Thêm mới'" (click)="onSubmit(form.value)"
          class="p-button-success">
        </button>
      </div>
    </form>
  </div>
</div>
