<div class="content">
  <h2>Quản lý giá dịch vụ</h2>
  <div class="controls">
    <button class="btn btn-primary">
      <a [routerLink]="['/services/add']" (click)="onAdd()">Thêm mới</a>
    </button>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tiêu đề</th>
        <th>Hình ảnh</th>
        <th>Giá</th>
        <th>Trạng thái</th>
        <th style="width: 100px">Điều chỉnh</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of const_data; index as i">
        <td>{{ i + 1 }}</td>
        <td style="max-width: 200px">{{ service.title }}</td>
        <td>
          <p-image
            [src]="urlAPI + '/' + service.image"
            alt="Image"
            width="250"
            [preview]="true"
          />
        </td>
        <td>
          <a [href]="urlAPI + '/' + service.pdfdata" download> Chi tiết </a>
        </td>
        <td>{{ service.status ? "Hiển thị" : "Ẩn" }}</td>
        <td>
          <button (click)="editItem(service)" class="btn-edit">
            <i class="fa-solid fa-edit"></i>
          </button>
          <button (click)="deleteItem(service)" class="btn-delete">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <div class="flex-auto">
    <p-paginator
      *ngIf="totalRecords"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [first]="first"
      [showFirstLastIcon]="false"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  </div>
</div>
