@import "primeicons/primeicons.css";

.divider {
    border-top: 1px solid white; /* Đường kẻ ngang màu trắng */
    margin: 10px 0; /* Khoảng cách phía trên và dưới */
    width: 100%; /* Chiều rộng 100% của sidebar */
}

.sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 15px;
    background-color: #0196da;
    transition: all 0.3s ease;
    color: white;
    overflow-x: hidden; /* Giúp ẩn nội dung khi sidebar đóng */
}
.sidebar h5 {
    letter-spacing: 2px; /* Giãn cách giữa các chữ */
    text-align: center; /* Căn giữa chữ */
    margin: 0; /* Bỏ margin mặc định để căn chỉnh */
    font-size: 12px; /* Kích thước chữ */
    line-height: 1.5; /* Khoảng cách giữa các hàng */
}


.closed-content {
    display: none;
}

/* Khi sidebar đóng */
.sidebar.closed {
    width: 70px; /* Thu nhỏ chiều rộng của sidebar nhưng vẫn đủ để hiển thị icon */
    padding: 0;
    overflow: hidden;
}

.sidebar.closed .components a .text {
    display: none; /* Ẩn văn bản của các item */
}

.sidebar.closed .components a {
    justify-content: center; /* Căn giữa nội dung khi sidebar đóng */
}

/* CSS cho các icon và nội dung */
.components a {
    padding: 10px;
    text-decoration: none;
    display: flex; /* Hiển thị dạng flex để dễ căn chỉnh icon và text */
    align-items: center; /* Căn giữa theo chiều dọc */
    color: #ffffff;
    transition: background-color 0.3s ease;
    width: 100%; /* Đảm bảo mỗi mục chiếm 100% chiều rộng */
    margin: 5px 0; /* Tạo khoảng cách giữa các mục */
}

.components a .icon {
    margin-right: 10px;
    font-size: 18px; /* Kích thước của icon */
}

.components a .text {
    flex: 1; /* Văn bản sẽ chiếm phần còn lại */
}

.components a:hover {
    color: #ffffff;
    border-bottom: 1px solid white; /* Đường gạch dưới màu trắng khi hover */
}

.btn-toggle {
    width: 25px;
    height: 25px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 19px;
}

.flex-content {
    display: flex;
    justify-content: space-between; /* Giữ nút toggle và logo ở hai đầu */
    align-items: center; /* Căn giữa theo chiều dọc */
    flex-direction: column; /* Chuyển đổi chiều dọc cho phần tử con */
}

.active {
    background-color: #0196da;
    color: white;
    font-weight: bold;
}

.active a {
    color: white;
}

/* Đảm bảo mỗi mục trong sidebar chiếm một hàng riêng biệt */
.components {
    display: flex;
    flex-direction: column; /* Đặt các mục theo chiều dọc */
}
