<nav class="sidebar bg-dark text-white vh-100" [class.closed]="isToggle">
  <button type="button" (click)="onToggleSidebar()" class="btn-toggle">
    <i class="fa-solid fa-bars"></i>
  </button>
  <div class="flex-content">
    <p-image [src]="'/assets/images/logos/logopage.png'" alt="Image" width="60px" [class.closed-content]="isToggle" />
  </div>
  <h5 class="p-3" [class.closed-content]="isToggle" style="color:#ffffff; text-align: center;">
    CÔNG TY CỔ PHẦN DỊCH VỤ VÀ VẬN TẢI BIỂN VŨNG TÀU
  </h5>
  <h5 class="p-3" [class.closed-content]="isToggle" style="color:#e52736">
    XÍ NGHIỆP HOA TIÊU VŨNG TÀU
  </h5>
  <div class="divider"></div>
  <div class="list-unstyled components">
    <a routerLink="/dashboard" routerLinkActive="active" class="text-white">
      <i class="pi pi-home icon"></i> 
      <span class="text">Trang chủ</span>
    </a>
    <a routerLink="/services1" routerLinkActive="active" class="text-white">
      <i class="pi pi-briefcase icon"></i>
      <span class="text">Các dịch vụ</span>
    </a>
    <a routerLink="/news" routerLinkActive="active" class="text-white">
      <i class="pi pi-calendar icon"></i>
      <span class="text">Tin tức và sự kiện</span>
    </a>
    <a routerLink="/monnuoc" routerLinkActive="active" class="text-white">
      <i class="pi pi-clock icon"></i>
      <span class="text">Giờ điều động và mớn nước</span>
    </a>
    <a routerLink="/services" routerLinkActive="active" class="text-white">
      <i class="pi pi-dollar icon"></i>
      <span class="text">Giá dịch vụ</span>
    </a>
    <a routerLink="/pilot" routerLinkActive="active" class="text-white">
      <i class="pi pi-users icon"></i>
      <span class="text">Danh sách hoa tiêu</span>
    </a>
    <a routerLink="/vehicle" routerLinkActive="active" class="text-white">
      <i class="pi pi-car icon"></i>
      <span class="text">Danh sách phương tiện</span>
    </a>
    <a routerLink="/tide" routerLinkActive="active" class="text-white">
      <i class="pi pi-calendar-clock icon"></i>
      <span class="text">Lịch thủy triều</span>
    </a>
    <a routerLink="/Marine Channels" routerLinkActive="active" class="text-white">
      <i class="pi pi-compass icon"></i>
      <span class="text">Tuyến luồng</span>
    </a>
    <a routerLink="/Port Particulars" routerLinkActive="active" class="text-white">
      <i class="pi pi-bars icon"></i>
      <span class="text">Hệ thống cảng biển</span>
    </a>
  </div>
</nav>
