<div class="content">
  <div class="add-container">
    <h2 *ngIf="!isEditMode">Thêm Mới</h2>
    <h2 *ngIf="isEditMode">Chỉnh Sửa</h2>
    <form [formGroup]="form">
      <div>
        <label
          for="content"
          [ngClass]="{
            'color-form-red':
              form.get('content')?.invalid &&
              (form.get('content')?.dirty || form.get('content')?.touched)
          }"
          >Nội dung</label
        >
        <quill-editor formControlName="content" id="content"></quill-editor>
        <small
          *ngIf="
            form.get('content')?.invalid &&
            (form.get('content')?.dirty || form.get('content')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('content')?.invalid }"
          >Nội dung không được trống.</small
        >
      </div>

      <div *ngIf="isEditMode" class="form-group">
        <label
          for="status"
          [ngClass]="{
            'color-form-red':
              form.get('status')?.invalid &&
              (form.get('status')?.dirty || form.get('status')?.touched)
          }"
          >Trạng thái</label
        >
        <select
          id="status"
          formControlName="status"
          class="form-control"
          required
        >
          <option [ngValue]="true">Hiển thị</option>
          <option [ngValue]="false">Ẩn</option>
        </select>
        <small
          *ngIf="
            form.get('status')?.invalid &&
            (form.get('status')?.dirty || form.get('status')?.touched)
          "
          [ngClass]="{ 'color-form-red': form.get('status')?.invalid }"
          >Vui lòng chọn trạng thái.</small
        >
      </div>

      <div class="form-actions">
        <p-button
          (click)="onSubmit(form.value)"
          [label]="isEditMode ? 'Cập nhật' : 'Thêm mới'"
          class="btn btn-success"
        />
        <button type="button" class="btn btn-secondary" (click)="goBack()">
          Trở Lại
        </button>
      </div>
    </form>
  </div>
</div>
