<div class="content1">
    <h1 *ngIf="!isEditMode">Thêm mới phần giới thiệu</h1>
    <h1 *ngIf="isEditMode">Chỉnh sửa phần giới thiệu</h1>
  </div>
  <div class="content">
    <button type="button" (click)="goBack()" class="btn-back">
      <span class="icon">&lt;</span> Trở lại
    </button>
    <form [formGroup]="form">
      <div>
        <label
          for="title"
          [ngClass]="{
            'color-form-red':
              form.get('title')?.invalid &&
              (form.get('title')?.dirty || form.get('title')?.touched)
          }"
          >Tiêu đề</label
        >
        <input
          pInputText
          type="text"
          id="title"
          required
          aria-describedby="title-help"
          formControlName="title"
          [ngClass]="{
            'border-form-red':
              form.get('title')?.invalid &&
              (form.get('title')?.dirty || form.get('title')?.touched)
          }"
        />
        <small
          *ngIf="
            form.get('title')?.invalid &&
            (form.get('title')?.dirty || form.get('title')?.touched)
          "
          id="title-help"
          [ngClass]="{ 'color-form-red': form.get('title')?.invalid }"
          >Tiêu đề không được trống.</small
        >
      </div>
      <div>
        <label
          for="content"
          required
          [ngClass]="{
            'color-form-red':
              form.get('content')?.invalid &&
              (form.get('content')?.dirty || form.get('content')?.touched)
          }"
          >Nội dung</label
        >
        <quill-editor formControlName="content" id="content"></quill-editor>
        <small
          *ngIf="
            form.get('content')?.invalid &&
            (form.get('content')?.dirty || form.get('content')?.touched)
        }"
        >Nội dung</label
      >
      <quill-editor formControlName="content" id="content"></quill-editor>
      <small
        *ngIf="
          form.get('content')?.invalid &&
          (form.get('content')?.dirty || form.get('content')?.touched)
        "
        [ngClass]="{ 'color-form-red': form.get('content')?.invalid }"
        >Nội dung không được trống.</small
      >
    </div>
    <div>
      <label
        for="status"
        [ngClass]="{
          'color-form-red':
            form.get('status')?.invalid &&
            (form.get('status')?.dirty || form.get('status')?.touched)
        }"
        >Trạng thái</label
      >
      <select id="status" formControlName="status" required>
        <option [ngValue]="true">Hiển thị</option>
        <option [ngValue]="false">Ẩn</option>
      </select>
      <small
        *ngIf="
          form.get('status')?.invalid &&
          (form.get('status')?.dirty || form.get('status')?.touched)
        "
        [ngClass]="{ 'color-form-red': form.get('status')?.invalid }"
        >Vui lòng chọn trạng thái.</small
      >
    </div>
    <p-button
      [label]="isEditMode ? 'Cập nhật' : 'Thêm mới'"
      (click)="onSubmit(form.value)"
      class="btn btn-primary"
    />
  </form>
</div>
