<div class="content1">
  <h1 *ngIf="!isEditMode">Thêm mới giá dịch vụ</h1>
  <h1 *ngIf="isEditMode">Chỉnh sửa giá dịch vụ</h1>
</div>
<div class="content">
  <button type="button" (click)="goBack()" class="btn-back">
    <span class="icon">&lt;</span> Trở lại
  </button>
  <form [formGroup]="form">
    <div>
      <label for="title">Tiêu đề:</label>
      <input type="text" id="title" formControlName="title" required />
    </div>
    <div>
      <label for="image">Hình ảnh:</label>
      <input
        type="file"
        id="image"
        accept="image/*"
        formControlName="image"
        (change)="onFileSelected($event)"
        />
    </div>
    <div>
      <label for="pdf">Tải lên PDF:</label>
      <input
        type="file"
        id="pdfdata"
        (change)="onPdfSelected($event)"
        accept=".pdf"
        formControlName="pdfdata"
        required
      />
    </div>
    <div>
      <label for="status">Trạng thái:</label>
      <select id="status" formControlName="status" required>
        <option [ngValue]="true">Hiển thị</option>
        <option [ngValue]="false">Ẩn</option>
      </select>
    </div>
    <p-button
      (click)="onSubmit(form.value)"
      pButton
      [label]="isEditMode ? 'Cập nhật' : 'Thêm mới'"
      class="btn btn-primary"
    />
  </form>
</div>
