<div class="content1">
  <h1 *ngIf="!isEditMode">Thêm mới giá dịch vụ</h1>
  <h1 *ngIf="isEditMode">Chỉnh sửa giá dịch vụ</h1>
</div>
<div class="content">
  <button type="button" (click)="goBack()" class="btn-back">
    <span class="icon">&lt;</span> Trở lại
  </button>
  <form [formGroup]="form">
    <!-- Tiêu đề -->
    <div>
      <label
        for="title"
        required
        [ngClass]="{
          'color-form-red':
            form.get('title')?.invalid &&
            (form.get('title')?.dirty || form.get('title')?.touched)
        }"
        >Tiêu đề</label
      >
      <input
        pInputText
        type="text"
        id="title"
        required
        aria-describedby="title-help"
        formControlName="title"
        [ngClass]="{
          'border-form-red':
            form.get('title')?.invalid &&
            (form.get('title')?.dirty || form.get('title')?.touched)
        }"
      />
      <small
        *ngIf="
          form.get('title')?.invalid &&
          (form.get('title')?.dirty || form.get('title')?.touched)
        "
        id="title-help"
        [ngClass]="{ 'color-form-red': form.get('title')?.invalid }"
        >Tiêu đề không được trống.</small
      >
    </div>

    <!-- Hình ảnh -->
    <div>
      <label for="image">Hình ảnh:</label>
      <input
        type="file"
        id="image"
        accept="image/*"
        formControlName="image"
        (change)="onFileSelected($event)"
        required
      />
      <small
        *ngIf="
          form.get('image')?.invalid &&
          (form.get('image')?.dirty || form.get('image')?.touched)
        "
        class="color-form-red"
        >Vui lòng tải lên hình ảnh.</small
      >
    </div>

    <!-- Tệp PDF -->
    <div>
      <label for="pdf">Tải lên PDF:</label>
      <input
        type="file"
        id="pdfdata"
        (change)="onPdfSelected($event)"
        accept=".pdf"
        formControlName="pdfdata"
        required
      />
      <small
        *ngIf="
          form.get('pdfdata')?.invalid &&
          (form.get('pdfdata')?.dirty || form.get('pdfdata')?.touched)
        "
        class="color-form-red"
        >Vui lòng tải lên tệp PDF.</small
      >
    </div>

    <!-- Trạng thái -->
    <div>
      <label for="status">Trạng thái:</label>
      <select id="status" formControlName="status" required>
        <option [ngValue]="true">Hiển thị</option>
        <option [ngValue]="false">Ẩn</option>
      </select>
    </div>

    <!-- Nút hành động -->
    <p-button
      (click)="onSubmit(form.value)"
      pButton
      [label]="isEditMode ? 'Cập nhật' : 'Thêm mới'"
      class="btn btn-primary"
    ></p-button>
  </form>
</div>
