<div class="content">
  <div class="add-container">
    <h2 *ngIf="!isEditMode">Thêm Mới</h2>
    <h2 *ngIf="isEditMode">Chỉnh Sửa</h2>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="title" [ngClass]="{
            'color-form-red':
            !isEditMode &&
              form.get('title')?.invalid &&
              (form.get('title')?.dirty || form.get('title')?.touched)
          }">Tên dịch vụ:</label>
        <input type="text" id="title" formControlName="title" class="form-control" required />
        <small *ngIf="
                     !isEditMode &&
            form.get('title')?.invalid &&
            (form.get('title')?.dirty || form.get('title')?.touched)
          " [ngClass]="{ 'color-form-red': form.get('title')?.invalid }">
          Vui lòng nhập tiêu đề
        </small>
      </div>

      <div class="form-group">
        <label for="file" [ngClass]="{
            'color-form-red':
            !isEditMode &&
              form.get('image')?.invalid &&
              (form.get('image')?.dirty || form.get('image')?.touched)
          }">Hình ảnh:</label>
        <input type="file" id="image" (change)="onFileSelected($event)" accept="image/*" class="form-control"
          formControlName="image" />
        <small *ngIf="
        !isEditMode &&
            form.get('image')?.invalid &&
            (form.get('image')?.dirty || form.get('image')?.touched)
          " [ngClass]="{ 'color-form-red': form.get('image')?.invalid }">
          Vui lòng tải hình ảnh.
        </small>
      </div>
      <!-- Preview Hình Ảnh -->
      <div *ngIf="preview_upload">
        <img [src]="preview_upload" alt="Selected Image" width="300" />
      </div>

      <div class="form-group">
        <label for="file" [ngClass]="{
            'color-form-red':
            !isEditMode &&
              form.get('pdfdata')?.invalid &&
              (form.get('pdfdata')?.dirty || form.get('pdfdata')?.touched)
          }">Tải lên dữ liệu:</label>
        <input type="file" id="pdfdata" (change)="onFilePDFSelected($event)" accept=".pdf" class="form-control"
          formControlName="pdfdata"/>
        <small *ngIf="
        !isEditMode &&
            form.get('pdfdata')?.invalid &&
            (form.get('pdfdata')?.dirty || form.get('pdfdata')?.touched)
          " [ngClass]="{ 'color-form-red': form.get('pdfdata')?.invalid }">
          Dữ liệu.
        </small>
      </div>
      <div *ngIf="isEditMode" class="form-group">
        <label for="status" [ngClass]="{
            'color-form-red':
              form.get('status')?.invalid &&
              (form.get('status')?.dirty || form.get('status')?.touched)
          }">Trạng thái</label>
        <select id="status" formControlName="status" class="form-control" required>
          <option [ngValue]="true">Hiển thị</option>
          <option [ngValue]="false">Ẩn</option>
        </select>
        <small *ngIf="
            form.get('status')?.invalid &&
            (form.get('status')?.dirty || form.get('status')?.touched)
          " [ngClass]="{ 'color-form-red': form.get('status')?.invalid }">Vui lòng chọn trạng thái.</small>
      </div>

      <div class="bt-actions">
        <button pButton pRipple [label]="isEditMode ? 'Cập nhật' : 'Thêm mới'" (click)="onSubmit(form.value)"
          class="p-button-success">
        </button>
      </div>
    </form>
  </div>
</div>