<div class="content">
    <h2 style="text-transform: uppercase;">Danh sách phương tiện </h2>
    <div class="controls">
        <p-button label="Thêm mới" icon="pi pi-plus" (onClick)="show(null)" styleClass="p-button-primary" />

        <div class="search-group">
            <span class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-search"></i>
                </span>
                <input class="search-input" pInputText type="text" #searchInput placeholder="Tìm kiếm..."
                    (input)="onInput($event)" />
                <span class="p-inputgroup-addon search-btn" (click)="search(searchInput.value)">
                    <i class="pi pi-arrow-right"></i>
                </span>
            </span>
        </div>
    </div>
    <!-- Bảng dữ liệu -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>TIÊU ĐỀ</th>
                <th>Hình ảnh</th>
                <th>Trạng thái</th>
                <th style="width: 50px;">Điều chỉnh</th>


            </tr>
        </thead>
        <tbody>
            <!-- Dùng *ngFor để lặp qua danh sách tài liệu -->
            <tr *ngFor="let item of const_data; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item?.title}}</td>
                <td>
                    <p-image [src]="stringUrl + item?.image" alt="Hình ảnh" alt="Image" width="250" [preview]="true" />
                </td>
                <td>{{ item.status ? "Hiển thị" : "Ẩn" }}</td>
                <td style="width: 50px;">
                    <button (click)="show(item)" class="btn-edit">
                        <i class="fa-solid fa-edit"></i>
                    </button>

                    <button (click)="deleteItem(item)" class="btn-delete">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>


            </tr>
        </tbody>
    </table>
</div>