@import "primeicons/primeicons.css";

body {
    margin: 0;
    transition: padding-left 0.3s ease; /* Hiệu ứng chuyển tiếp cho padding */
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 15px;
    background-color: #0196da;
    transition: all 0.3s ease;
    color: white;
    overflow-x: hidden; /* Ẩn nội dung khi sidebar đóng */
}

.closed-content {
    display: none;
}

/* Khi sidebar đóng */
.sidebar.closed {
    width: 70px; /* Thu nhỏ chiều rộng của sidebar */
    padding: 0;
    overflow: hidden;
}

/* Nội dung */
.content {
    margin-left: 65px; /* Khi sidebar đóng (giảm từ 250px xuống 75px) */
    transition: margin-left 0.3s ease; /* Hiệu ứng chuyển tiếp cho margin */
    padding: 20px 20px; /* Thêm padding cho nội dung */
}

.sidebar.closed + .content {
    margin-left: 75px; /* Khi sidebar đóng */
}

.sidebar.closed .components li a .text {
    display: none; /* Ẩn văn bản của các item */
}

.sidebar.closed .components li a .icon {
    text-align: center;
    width: 100%; /* Căn giữa icon khi sidebar đóng */
}

.sidebar.closed .flex-content h3 {
    display: none; /* Ẩn tiêu đề khi sidebar đóng */
}

.sidebar.closed .btn-toggle {
    margin-left: 18px; /* Giữ lại nút toggle gần biên */
}

/* CSS cho các icon và nội dung */
.components li a {
    padding: 10px;
    text-decoration: none;
    display: flex; /* Dạng flex để dễ căn chỉnh icon và text */
    align-items: center;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.components li a .icon {
    margin-right: 10px;
    font-size: 18px; /* Kích thước của icon */
}

.components li a .text {
    flex: 1; /* Văn bản sẽ chiếm phần còn lại */
}

.components li a:hover {
    background-color: blue;
    color: #ffffff;
}

.btn-toggle {
    width: 25px;
    height: 25px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.flex-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    cursor: pointer;
}

.active {
    background-color: #0196da;
    color: white;
    font-weight: bold;
}

.table {
    width: calc(100% - 10px); /* Điều chỉnh chiều rộng của bảng để giảm khoảng trắng */
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd;
}

.image-user {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.controls {
    margin-top: 20px;
    display: flex;
    gap: 10px; /* Khoảng cách giữa các nút */

    .btn {
        padding: 10px 20px;
        font-size: 13px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: white;

        &.btn-primary {
            background-color: #007bff;
            margin-bottom: 10px;
        }

        &.btn-danger {
            background-color: #dc3545;
        }

        a {
            color: white; // Màu chữ trắng
            text-decoration: none; // Bỏ gạch dưới
        }
    }
}
.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Canh giữa theo trục dọc */
    align-items: center; /* Canh giữa theo trục ngang */
    height: 100%; /* Đảm bảo cột chiếm hết chiều cao */
  }
  
  .btn-edit,
  .btn-delete {
    border: none;
    background: none;
    color: #0196da;
    cursor: pointer;
    align-items: center;
    padding: 10px 20px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    font-size: 16px;
    width: 120px;
    text-align: center;
  }
  
  .btn-delete {
    color: #ff4d4d;
  }
  

.btn-edit:hover,
.btn-delete:hover {
  background-color: rgba(255, 255, 255, 0.2); 
}

::ng-deep .p-paginator {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: nowrap; 
    .p-paginator-button {
        background: none;
        border: none; 
        color: black;
        padding: 0;
        margin: 0 0.5rem; 
        font-size: 1.5rem; 
        cursor: pointer; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        width: 50px; 
        height: 50px; 
        border-radius: 50%; 
      
        &:hover {
          background: lightgray; 
          color: black; 
        }
      }
      
      .p-paginator-prev, .p-paginator-next {
        background: none; 
        border: none;
        color: black; 
        padding: 0; 
        margin: 0 0.5rem; 
        cursor: pointer; 
        font-size: 1.5rem; 
      }
      
      .p-paginator-page {
        background: none; 
        border: none; 
        color: black; 
        padding: 0; 
        margin: 0 0.5rem; 
        cursor: pointer; 
        align-items: center; 
        justify-content: center; 
        width: 50px; 
        height: 50px; 
        border-radius: 50%; 
      
        &:hover {
          background: lightgray; 
        }
      
        &.p-highlight {
          background: #eff6ff; 
          color: black; 
        }
      }
      
      .p-paginator-first, .p-paginator-last {
        background: none; 
        border: none;
        color: black; 
        padding: 0; 
        margin: 0 0.5rem;
        cursor: pointer; 
        font-size: 1.5rem; 
      
        &:hover {
          border-radius: 50%; 
        }
      }
    }        

  