<div class="content1">
    <h1 *ngIf="!isEditMode">Thêm mới tin tức và sự kiện</h1>
    <h1 *ngIf="isEditMode">Chỉnh sửa tin tức và sự kiện</h1>
  </div>
  <div class="content">
    <button type="button" (click)="goBack()" class="btn-back">
      <span class="icon">&lt;</span> Trở lại
    </button>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="title">Tiêu đề:</label>
        <input type="text" id="title" [(ngModel)]="news.title" name="title" required>
      </div>
      <div>
        <label for="image">Hình ảnh:</label>
        <input type="file" id="image" (change)="onFileSelected($event)" accept="image/*">
      </div>
      <div>
        <label for="content">Nội dung:</label>
        <quill-editor [(ngModel)]="news.content" name="content"></quill-editor>
      </div>
      <div>
        <label for="status">Trạng thái:</label>
        <select id="status" [(ngModel)]="news.status" name="status" required>
          <option value="Hiển thị">Hiển thị</option>
          <option value="Ẩn">Ẩn</option>
        </select>
      </div>
      <div>
        <label for="date">Ngày đăng:</label>
        <input type="date" id="date" [(ngModel)]="news.date" name="date" required>
      </div>
      <button type="submit">{{ isEditMode ? 'Cập nhật' : 'Lưu' }}</button>
    </form>
  </div>
  